# Node
node_modules/
npm-debug.log*

# Electron build output
dist-electron/

# Android build output
android/app/build/
android/.gradle/
android/local.properties
android/captures/
*.apk
*.aab

# Keystore (لا ترفعه أبداً)
*.keystore
*.jks

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user

# Logs
*.log

# Download cache
download/
