# منع تنفيذ أي سكربتات داخل مجلد الصور
<FilesMatch "\.(php|phtml|php3|php4|php5|php7|phps|pl|py|jsp|asp|aspx|sh|cgi|exe|bin)$">
  Require all denied
</FilesMatch>
<IfModule mod_php.c>
  php_flag engine off
</IfModule>
Options -ExecCGI -Indexes
RemoveHandler .php .phtml .php3 .php4 .php5 .php7
RemoveType .php .phtml
